.miq-metrics {
  overflow-x: hidden;
  overflow-y: hidden;
}
.miq-metrics i.pficon-trend-up::before {
  color: #1e4f18;
  margin-right: 10px;
}
.miq-metrics i.fa-tachometer::before {
  color: #004368;
  margin-right: 10px;
}
.miq-metrics #pagination-title {
  font-weight: 700;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: bottom;
  line-height: 27px;
}
.miq-metrics .toolbar-pf {
  border: 0;
  padding-top: 0;
}
.miq-metrics .toolbar-pf-include-actions {
  margin-left: 8px !important;
}
.miq-metrics .form-group.toolbar-actions {
  border: 0;
}
.miq-metrics .graph-view {
  overflow-x: hidden;
  overflow-y: hidden;
}
.miq-metrics .graph-view .toolbar-pf .toolbar-pf-actions .form-group {
  padding-right: 0;
}
.miq-metrics .graph-view .rate-switch {
  margin-left: 5px;
  margin-right: 5px;
}
.miq-metrics .graph-view .bootstrap-select.btn-group .dropdown-menu {
  margin-left: 5px;
}
.miq-metrics .graph-view .form-group.toolbar-actions.ng-scope {
  margin-bottom: 10px;
}
.miq-metrics .graph-view .toolbar-pf-actions .dropdown-kebab-pf {
  float: none;
}
.miq-metrics .list-view {
  overflow-x: hidden;
  overflow-y: hidden;
}
.miq-metrics .list-view .toolbar-pf .toolbar-pf-actions .form-group {
  padding-right: 0;
  margin-bottom: 0 !important;
}
.miq-metrics .list-view .toolbar-pf .form-group {
  padding-right: 0;
}
.miq-metrics .list-view .toolbar-pf .form-group .btn-group {
  margin-left: 0;
}
.miq-metrics .list-view .toolbar-pf .form-group .btn {
  margin-left: 0;
}
.miq-metrics .list-view label {
  font-weight: 500;
  font-size: 14px;
  color: #004368;
}
.miq-metrics .list-view .toolbar-pf-results .list-inline {
  margin-left: 2px;
}
.miq-metrics .list-view .tooltip-inner {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.miq-metrics .list-view .list-view-pf-expand-active {
  border: 0;
  border-top: 1px solid #39a5dc;
  border-bottom: 1px solid #39a5dc;
}
.miq-metrics .list-view .list-group.list-view-pf.list-view-pf-view {
  margin-top: 5px;
}
.miq-metrics .list-view .list-group-item-container {
  margin-top: 10px;
  padding: 15px;
  border: 0;
}
.miq-metrics .list-view .form-group.toolbar-actions.ng-scope {
  border: 0;
  padding-left: 0;
}
.miq-metrics .list-view .dropdown-kebab-pf .dropdown-menu {
  left: -5px;
}
.miq-metrics .list-view .toolbar-pf-actions .dropdown-kebab-pf {
  float: none;
  margin-left: 0;
}
.miq-metrics .list-view .filter-pf.filter-fields .form-group {
  width: 410px;
}
.miq-metrics .form-group.toolbar-pf-filter {
  margin-bottom: 0;
}
.miq-metrics .form-group.toolbar-actions.ng-scope {
  margin-bottom: 0;
}
.miq-metrics .pagination {
  display: flex;
  float: right;
  margin: 0;
  margin-bottom: 0;
}
.miq-metrics .pagination-div {
  display: flex;
  float: right;
  position: absolute;
  top: 46px;
  right: 5px;
  margin-right: 5px;
  padding-right: 0;
  border: 0;
}
.miq-metrics .pagination-div .page-input {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}
.miq-metrics .list-view-container {
  min-height: calc(100vh - 353px);
  padding-top: 10px;
  margin-bottom: 0;
}
.miq-metrics .line-chart {
  min-height: calc(100vh - 347px);
  margin: 36px 30px 0 50px;
}
.miq-metrics .blank-slate-pf {
  min-height: calc(100vh - 353px);
  margin-bottom: 0;
}
.miq-metrics .timeline-date-input {
  padding-left: 5px;
  width: 300px;
}
.miq-metrics .list-group {
  border-top: none;
}
.miq-metrics .bootstrap-touchspin {
  text-align: center;
}
.miq-metrics .tenant-filter-bar {
  margin-left: 0;
}
.miq-metrics .tenant-filter-bar .dropdown-menu.open {
  margin-top: -11px;
}
.miq-metrics .timeline-stepper {
  margin-right: 5px;
}
.miq-metrics .toolbar-pf-include-actions.ng-scope {
  width: 100%;
}
.miq-metrics .toolbar-pf-actions.ng-pristine.ng-valid.no-filter-results {
  margin-bottom: 0;
}
.miq-metrics .btn.btn-default.dropdown-toggle.filter-fields {
  min-width: 100px;
}
.miq-metrics .filters-selector .btn {
  margin-left: 0;
}
.miq-metrics .tenants-selector .btn {
  margin-left: 0;
}/*# sourceMappingURL=metrics.css.map */